In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Clicked Ads Dataset.csv')

In [3]:
# Display all columns
pd.set_option('display.max_columns', None)

In [4]:
# Basic investigation
print("--- First 5 rows ---")
print(df.head())

print("\n--- Dataset Info ---")
df.info()

print("\n--- Summary Statistics ---")
print(df.describe())

print("\n--- Missing Values ---")
print(df.isnull().sum())

print("\n--- Duplicated Rows ---")
print(df.duplicated().sum())

--- First 5 rows ---
   Unnamed: 0  Daily Time Spent on Site  Age  Area Income  \
0           0                     68.95   35  432837300.0
1           1                     80.23   31  479092950.0
2           2                     69.47   26  418501580.0
3           3                     74.15   29  383643260.0
4           4                     68.37   35  517229930.0

   Daily Internet Usage       Male        Timestamp Clicked on Ad  \
0                256.09  Perempuan   3/27/2016 0:53            No
1                193.77  Laki-Laki    4/4/2016 1:39            No
2                236.50  Perempuan  3/13/2016 20:35            No
3                245.89  Laki-Laki   1/10/2016 2:31            No
4                225.58  Perempuan    6/3/2016 3:36            No

            city                       province    category
0  Jakarta Timur  Daerah Khusus Ibukota Jakarta   Furniture
1       Denpasar                           Bali        Food
2       Surabaya                     Jawa Timur  Electronic
3          Batam                 Kepulauan Riau       House
4          Medan                  Sumatra Utara     Finance

--- Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1000 non-null   int64
 1   Daily Time Spent on Site  987 non-null    float64
 2   Age                       1000 non-null   int64
 3   Area Income               987 non-null    float64
 4   Daily Internet Usage      989 non-null    float64
 5   Male                      997 non-null    object
 6   Timestamp                 1000 non-null   object
 7   Clicked on Ad             1000 non-null   object
 8   city                      1000 non-null   object
 9   province                  1000 non-null   object
 10  category                  1000 non-null   object
dtypes: float64(3), int64(2), object(6)
memory usage: 86.1+ KB

--- Summary Statistics ---
        Unnamed: 0  Daily Time Spent on Site          Age   Area Income  \
count  1000.000000                987.000000  1000.000000  9.870000e+02
mean    499.500000                 64.929524    36.009000  3.848647e+08
std     288.819436                 15.844699     8.785562  9.407999e+07
min       0.000000                 32.600000    19.000000  9.797550e+07
25%     249.750000                 51.270000    29.000000  3.286330e+08
50%     499.500000                 68.110000    35.000000  3.990683e+08
75%     749.250000                 78.460000    42.000000  4.583554e+08
max     999.000000                 91.430000    61.000000  5.563936e+08

       Daily Internet Usage
count            989.000000
mean             179.863620
std               43.870142
min              104.780000
25%              138.710000
50%              182.650000
75%              218.790000
max              267.010000

--- Missing Values ---
Unnamed: 0                   0
Daily Time Spent on Site    13
Age                          0
Area Income                 13
Daily Internet Usage        11
Male                         3
Timestamp                    0
Clicked on Ad                0
city                         0
province                     0
category                     0
dtype: int64

--- Duplicated Rows ---
0

In [5]:
# Print distinct values
print("\nDistinct Values for Each Column:")
for col in df.columns:
    unique_values = df[col].unique()
    print(f"{col}: {unique_values[:20]}{'...' if len(unique_values) > 20 else ''} (Total: {len(unique_values)})")

Distinct Values for Each Column:
Unnamed: 0: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]... (Total: 1000)
Daily Time Spent on Site: [68.95 80.23 69.47 74.15 68.37 59.99 88.91 66.   74.53 69.88 47.64 83.07
 69.57 79.52 42.95 63.45 55.39 82.03 54.7  74.58]... (Total: 891)
Age: [35 31 26 29 23 33 48 30 20 49 37 24 41 36 40 52 28 34 22 57]... (Total: 43)
Area Income: [4.3283730e+08 4.7909295e+08 4.1850158e+08 3.8364326e+08 5.1722993e+08
 4.1833092e+08 3.7696995e+08 1.7215331e+08 4.8203400e+08 3.8949624e+08
 3.1942757e+08 4.3743707e+08 3.6145844e+08 3.6217741e+08 2.1683200e+08
 3.6527561e+08 1.6755802e+08 5.0057756e+08 2.1761278e+08 1.6675204e+08]... (Total: 988)
Daily Internet Usage: [256.09 193.77 236.5  245.89 225.58 226.74 208.36 131.76 221.51 183.82
 122.02 230.87 113.12 214.23 143.56 140.64 129.41 187.53    nan 135.51]... (Total: 956)
Male: ['Perempuan' 'Laki-Laki' nan] (Total: 3)
Timestamp: ['3/27/2016 0:53' '4/4/2016 1:39' '3/13/2016 20:35' '1/10/2016 2:31'
 '6/3/2016 3:36' '5/19/2016 14:30' '1/28/2016 20:59' '3/7/2016 1:40'
 '4/18/2016 9:33' '7/11/2016 1:42' '3/16/2016 20:19' '5/8/2016 8:10'
 '6/3/2016 1:14' '4/20/2016 21:49' '3/24/2016 9:31' '3/9/2016 3:41'
 '1/30/2016 19:20' '5/2/2016 7:00' '2/13/2016 7:53' '2/27/2016 4:43']... (Total: 997)
Clicked on Ad: ['No' 'Yes'] (Total: 2)
city: ['Jakarta Timur' 'Denpasar' 'Surabaya' 'Batam' 'Medan' 'Jakarta Barat'
 'Bandung' 'Bandar Lampung' 'Jakarta Pusat' 'Depok' 'Serang' 'Padang'
 'Semarang' 'Makassar' 'Malang' 'Jakarta Utara' 'Pontianak'
 'Jakarta Selatan' 'Tasikmalaya' 'Surakarta']... (Total: 30)
province: ['Daerah Khusus Ibukota Jakarta' 'Bali' 'Jawa Timur' 'Kepulauan Riau'
 'Sumatra Utara' 'Jawa Barat' 'Lampung' 'Banten' 'Sumatra Barat'
 'Jawa Tengah' 'Sulawesi Selatan' 'Kalimantan Barat' 'Kalimantan Selatan'
 'Sumatra Selatan' 'Kalimantan Timur' 'Riau'] (Total: 16)
category: ['Furniture' 'Food' 'Electronic' 'House' 'Finance' 'Travel' 'Health'
 'Bank' 'Fashion' 'Otomotif'] (Total: 10)

In [6]:
# Handling Missing Values
# We will fill numerical values with the median and categorical values with the mode
for col in df.columns:
    if df[col].dtype == 'float64' or df[col].dtype == 'int64':
        df[col].fillna(df[col].median(), inplace=True)
    else:
        df[col].fillna(df[col].mode()[0], inplace=True)

# Checking Missing Values
print("Number of Missing Values:\n", df.isnull().sum())

Number of Missing Values:
 Unnamed: 0                  0
Daily Time Spent on Site    0
Age                         0
Area Income                 0
Daily Internet Usage        0
Male                        0
Timestamp                   0
Clicked on Ad               0
city                        0
province                    0
category                    0
dtype: int64

C:\Users\brama\AppData\Local\Temp\ipykernel_10624\422614289.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\brama\AppData\Local\Temp\ipykernel_10624\422614289.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [7]:
from sklearn.preprocessing import LabelEncoder

# Label Encoding for Binary Columns
le = LabelEncoder()
df['Male'] = le.fit_transform(df['Male'])
df['Clicked on Ad'] = le.fit_transform(df['Clicked on Ad'])

# One-Hot Encoding for Nominal Categorical Columns
df = pd.get_dummies(df, columns=['city', 'province', 'category'], drop_first=True)

In [8]:
# Splitting Features (X) and Target (y)
X = df.drop('Clicked on Ad', axis=1)
y = df['Clicked on Ad']

In [9]:
# Time Feature Extraction
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df['Year'] = df['Timestamp'].dt.year
df['Month'] = df['Timestamp'].dt.month
df['Week'] = df['Timestamp'].dt.isocalendar().week
df['Day'] = df['Timestamp'].dt.day

# Dropping the 'Timestamp' Column
df.drop('Timestamp', axis=1, inplace=True)

In [11]:
# Dropping the 'Unnamed' Column
df.drop('Unnamed: 0', axis=1, inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 63 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Daily Time Spent on Site                1000 non-null   float64
 1   Age                                     1000 non-null   int64
 2   Area Income                             1000 non-null   float64
 3   Daily Internet Usage                    1000 non-null   float64
 4   Male                                    1000 non-null   int32
 5   Clicked on Ad                           1000 non-null   int32
 6   city_Bandar Lampung                     1000 non-null   bool
 7   city_Bandung                            1000 non-null   bool
 8   city_Banjarmasin                        1000 non-null   bool
 9   city_Batam                              1000 non-null   bool
 10  city_Bekasi                             1000 non-null   bool
 11  city_Bogor                              1000 non-null   bool
 12  city_Cimahi                             1000 non-null   bool
 13  city_Denpasar                           1000 non-null   bool
 14  city_Depok                              1000 non-null   bool
 15  city_Jakarta Barat                      1000 non-null   bool
 16  city_Jakarta Pusat                      1000 non-null   bool
 17  city_Jakarta Selatan                    1000 non-null   bool
 18  city_Jakarta Timur                      1000 non-null   bool
 19  city_Jakarta Utara                      1000 non-null   bool
 20  city_Makassar                           1000 non-null   bool
 21  city_Malang                             1000 non-null   bool
 22  city_Medan                              1000 non-null   bool
 23  city_Padang                             1000 non-null   bool
 24  city_Pakanbaru                          1000 non-null   bool
 25  city_Palembang                          1000 non-null   bool
 26  city_Pontianak                          1000 non-null   bool
 27  city_Samarinda                          1000 non-null   bool
 28  city_Semarang                           1000 non-null   bool
 29  city_Serang                             1000 non-null   bool
 30  city_Surabaya                           1000 non-null   bool
 31  city_Surakarta                          1000 non-null   bool
 32  city_Tangerang                          1000 non-null   bool
 33  city_Tangerang Selatan                  1000 non-null   bool
 34  city_Tasikmalaya                        1000 non-null   bool
 35  province_Banten                         1000 non-null   bool
 36  province_Daerah Khusus Ibukota Jakarta  1000 non-null   bool
 37  province_Jawa Barat                     1000 non-null   bool
 38  province_Jawa Tengah                    1000 non-null   bool
 39  province_Jawa Timur                     1000 non-null   bool
 40  province_Kalimantan Barat               1000 non-null   bool
 41  province_Kalimantan Selatan             1000 non-null   bool
 42  province_Kalimantan Timur               1000 non-null   bool
 43  province_Kepulauan Riau                 1000 non-null   bool
 44  province_Lampung                        1000 non-null   bool
 45  province_Riau                           1000 non-null   bool
 46  province_Sulawesi Selatan               1000 non-null   bool
 47  province_Sumatra Barat                  1000 non-null   bool
 48  province_Sumatra Selatan                1000 non-null   bool
 49  province_Sumatra Utara                  1000 non-null   bool
 50  category_Electronic                     1000 non-null   bool
 51  category_Fashion                        1000 non-null   bool
 52  category_Finance                        1000 non-null   bool
 53  category_Food                           1000 non-null   bool
 54  category_Furniture                      1000 non-null   bool
 55  category_Health                         1000 non-null   bool
 56  category_House                          1000 non-null   bool
 57  category_Otomotif                       1000 non-null   bool
 58  category_Travel                         1000 non-null   bool
 59  Year                                    1000 non-null   int32
 60  Month                                   1000 non-null   int32
 61  Week                                    1000 non-null   UInt32
 62  Day                                     1000 non-null   int32
dtypes: UInt32(1), bool(53), float64(3), int32(5), int64(1)
memory usage: 107.6 KB